<!-- First Blog Post -->
                <h2>
                    <a href="#">Spartan Race: Sacramento Super</a>
                </h2>

                <p></span> October 25, 2014 at 8:00 AM</p>
                <hr>
                <img class="img-responsive events" src="http://upload.wikimedia.org/wikipedia/commons/a/a2/Spartan_Race_-_Starting_Line.jpg" alt="">
                <hr>
                <p>The Van Vleck Ranch is a fully operational cattle ranch with almost 10,000 acres under management in southeastern Sacramento County, which represents approximately 1.5 percent of all of Sacramento County! That leaves a lot of trails for Spartan to test Sacramento racers!  </p>


                <button class="btn btn-primary" data-toggle="modal" data-target="#buy"> Buy</button>

                <button class="btn btn-success" data-toggle="modal" data-target="#sell"> Sell</button>

<!-- Modal for "buy"-->
<div class="modal fade" id="buy" tabindex="-1" role="dialog" aria-labelledby="buyLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title" id="buyLabel">Spartan Race: Sacramento Super</h3>
        <h5>October 25, 2014</h5>
        <h5>Sacramento</h5>
      </div>
      <div id="TicketReg" class="panel_body">
        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="ticket_table" id="ticket_table">
            <tbody>
                <tr class="ticket_table_head">
                    <td width="40%" nowrap="nowrap">Ticket Type</td>
                    <td>Sales End</td>
                    <td>Price</td>
                    <td>Fee</td>
                    <td>Purchase</td>
                </tr>
                <tr class="ticket_row">
                    <td class="ticket_type_name">Adult Ticket</td>
                    <td nowrap="nowrap">Aug 16, 2014</td>
                    <td nowrap="nowrap" class="price_td">$135.00</td>
                    <td nowrap="nowrap" class="fee_td">$15.74</td>
                    <td><button type="button" class="btn btn-primary buy" data-toggle="modal" data-target="#payment1" data-dismiss="modal">Buy</button></td>
                </tr>
                <tr class="ticket_row">
                    <td class="ticket_type_name">Youth Ticket</td>
                    <td nowrap="nowrap">Aug 16, 2014</td>
                    <td nowrap="nowrap" class="price_td">$30.00</td>
                    <td nowrap="nowrap" class="fee_td">$4.92</td>
                    <td><button type="button" class="btn btn-primary buy" data-toggle="modal" data-target="#payment2" data-dismiss="modal">Buy</button></td>
                </tr>
            </tbody>
        </table>
    </div>

    </div>
  </div>
</div>





<!-- Modal for "sell"-->
<div class="modal fade" id="sell" tabindex="-1" role="dialog" aria-labelledby="sellLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title" id="sellLabel">Spartan Race: Sacramento Super</h3>
        <h5>October 25, 2014</h5>
        <h5>Sacramento</h5>
      </div>
      <div id="TicketReg" class="panel_body">
        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="ticket_table" id="ticket_table">
            <tbody>
                <tr class="ticket_table_head">
                    <td width="40%" nowrap="nowrap">Ticket Type</td>
                    <td>Sales End</td>
                    <td>Price</td>
                    <td>Fee</td>
                    <td>Sell</td>
                </tr>
                <tr class="ticket_row">
                    <td class="ticket_type_name">Adult Ticket</td>
                    <td nowrap="nowrap">October 25, 2014</td>
                    <td nowrap="nowrap" class="price_td">$135.00</td>
                    <td nowrap="nowrap" class="fee_td">$18.28</td>
                    <td><button type="button" class="btn btn-success sell" data-toggle="modal" data-target="#validate1" data-dismiss="modal">Sell</button></td>
                </tr>
                <tr class="ticket_row">
                    <td class="ticket_type_name">Youth Ticket</td>
                    <td nowrap="nowrap">October 25, 2014</td>
                    <td nowrap="nowrap" class="price_td">$30.00</td>
                    <td nowrap="nowrap" class="fee_td">$5.17</td>
                    <td><button type="button" class="btn btn-success sell" data-toggle="modal" data-target="#validate2" data-dismiss="modal">Sell</button></td>
                </tr>
            </tbody>
        </table>
    </div>

    </div>
  </div>
</div>

<!-- Modal for "validate1"-->
<div class="modal fade" id="validate1" tabindex="-1" role="dialog" aria-labelledby="paymentLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title" id="paymentLabel">Spartan Race: Sacramento Super</h3>
        <h5>October 25, 2014</h5>
        <h5>Sacramento</h5>
      </div>
      <div id="sell_confirm1" class="panel_body">
        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="ticket_table" id="ticket_table">
            <tbody>
                <tr class="ticket_table_head">
                    <td width="40%" nowrap="nowrap">Ticket Type</td>
                    <td>Price</td>
                    <td>Fee</td>
                    <td>Your Payment</td>
                </tr>
                <tr class="ticket_row">
                    <td class="ticket_type_name">Adult Ticket</td>
                    <td nowrap="nowrap" class="price_td">$135.00</td>
                    <td nowrap="nowrap" class="fee_td">$15.74</td>
                    <td nowrap="nowrap" class="fee_td">$119.26</td>
                </tr>
                <hr>
                <tr class="bottomRow" >
                    <td></td>
                    <td></td>
                    <td nowrap="nowrap" class="fee_td"><em>Total Payment</em></td>
                    <td><em>$119.26</em></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="bib_auth">
      <form class="form-inline" role="form">
        <div class="form-group">
          <!-- <label for="inputSuccess4">Bib Number:</label> -->
           <span class="glyphicon glyphicon-edit"></span>
          <input type="text" class="form-control" id="inputSuccess4" placeholder="Bib Number"><br>

                 <span class="glyphicon glyphicon-barcode"></span>     <input type="text" class="form-control" id="inputSuccess4" placeholder="Confirmation Number">
        </div>
        <div class="form-group">
          <!-- <label for="inputSuccess4">Confirmation Number:</label> -->

        </div>
      </form>
    </div>
    <div class=modal-footer>
      <button type="button" class="btn btn-success btn-lg " data-toggle="modal" data-target="#confirmation" data-dismiss="modal">Sell for $119.26</button>
      <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button> -->
    </div>

    </div>
  </div>
</div>

<!-- Modal for "validate2"-->
<div class="modal fade" id="validate2" tabindex="-1" role="dialog" aria-labelledby="paymentLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title" id="paymentLabel">Spartan Race: Sacramento Super</h3>
        <h5>October 25, 2014</h5>
        <h5>Sacramento</h5>
      </div>
      <div id="sell_confirm1" class="panel_body">
        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="ticket_table" id="ticket_table">
            <tbody>
                <tr class="ticket_table_head">
                    <td width="40%" nowrap="nowrap">Ticket Type</td>
                    <td>Price</td>
                    <td>Fee</td>
                    <td>Your Payment</td>
                </tr>
                <tr class="ticket_row">
                    <td class="ticket_type_name">Youth Ticket</td>
                    <td nowrap="nowrap" class="price_td">$30.00</td>
                    <td nowrap="nowrap" class="fee_td">$4.92</td>
                    <td nowrap="nowrap" class="fee_td">$25.08</td>
                </tr>
                <hr>
                <tr class="bottomRow" >
                    <td></td>
                    <td></td>
                    <td nowrap="nowrap" class="fee_td"><em>Total Payment</em></td>
                    <td><em>$25.08</em></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="bib_auth">
      <form class="form-inline" role="form">
        <div class="form-group">

 <span class="glyphicon glyphicon-edit"></span>
          <input type="text" class="form-control" id="inputSuccess4" placeholder= "Bib Number"><br>
          <span class="glyphicon glyphicon-barcode"></span>
                    <input type="text" class="form-control" id="inputSuccess4" placeholder="Confirmation Number">
        </div>
        <div class="form-group">


        </div>
      </form>
    </div>
    <div class=modal-footer>
      <button type="button" class="btn btn-success btn-lg " data-toggle="modal" data-target="#confirmation" data-dismiss="modal">Sell for $25.08</button>
      <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button> -->
    </div>

    </div>
  </div>
</div>

<!-- Modal for "payment1"-->
<div class="modal fade" id="payment1" tabindex="-1" role="dialog" aria-labelledby="paymentLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title" id="paymentLabel">Spartan Race: Sacramento Super</h3>
        <h5>October 25, 2014</h5>
        <h5>Sacramento</h5>
      </div>
      <div id="payment_confirm1" class="panel_body">
        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="ticket_table" id="ticket_table">
            <tbody>
                <tr class="ticket_table_head">
                    <td width="40%" nowrap="nowrap">Ticket Type</td>
                    <td>Price</td>
                    <td>Fee</td>
                    <td>Subtotal</td>
                </tr>
                <tr class="ticket_row">
                    <td class="ticket_type_name">Adult Ticket</td>
                    <td nowrap="nowrap" class="price_td">$135.00</td>
                    <td nowrap="nowrap" class="fee_td">$15.74</td>
                    <td nowrap="nowrap" class="fee_td">$150.74</td>
                </tr>
                <hr>
                <tr class="bottomRow" >
                    <td></td>
                    <td></td>
                    <td nowrap="nowrap" class="fee_td"><em>Order total</em></td>
                    <td><em>$150.74</em></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="cc">
      <form class="form-inline" role="form">
        <div class="form-group">
<span class="glyphicon glyphicon-credit-card"></span>
          <input type="text" class="form-control" id="inputSuccess4" placeholder="Card Name">
        </div>
        <div class="form-group">
<span class="glyphicon glyphicon-credit-card"></span>
          <input type="text" class="form-control" id="inputSuccess4" placeholder="Card Number">
        </div>
        <div class="form-group">
          <span class="glyphicon glyphicon-calendar"></span>
           <input type="text" class="form-control" id="inputSuccess4" placeholder="MM / YY">
        </div>
        <div class="form-group">
<span class="glyphicon glyphicon-lock"></span>

           <input type="text" class="form-control" id="inputSuccess4" placeholder="CVC">
        </div>
      </form>
    </div>
    <div class=modal-footer>
      <button type="button" class="btn btn-primary btn-lg " data-toggle="modal" data-target="#confirmation" data-dismiss="modal">Pay $150.74</button>
      <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button> -->
    </div>

    </div>
  </div>
</div>

<!-- Modal for "payment2"-->
<div class="modal fade" id="payment2" tabindex="-1" role="dialog" aria-labelledby="paymentLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title" id="paymentLabel">Spartan Race: Sacramento Super</h3>
        <h5>October 25, 2014</h5>
        <h5>Sacramento</h5>
      </div>
      <div id="payment_confirm1" class="panel_body">
        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="ticket_table" id="ticket_table">
            <tbody>
                <tr class="ticket_table_head">
                    <td width="40%" nowrap="nowrap">Ticket Type</td>
                    <td>Price</td>
                    <td>Fee</td>
                    <td>Subtotal</td>
                </tr>
                <tr class="ticket_row">
                    <td class="ticket_type_name">Youth Ticket</td>
                    <td nowrap="nowrap" class="price_td">$30.00</td>
                    <td nowrap="nowrap" class="fee_td">$4.92</td>
                    <td nowrap="nowrap" class="fee_td">$34.92</td>
                </tr>
                <hr>
                <tr class="bottomRow" >
                    <td></td>
                    <td></td>
                    <td nowrap="nowrap" class="fee_td"><em>Order total</em></td>
                    <td><em>$34.92</em></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="cc">
      <form class="form-inline" role="form">
        <div class="form-group">
<span class="glyphicon glyphicon-credit-card"></span>
          <input type="text" class="form-control" id="inputSuccess4" placeholder="Card Name">
        </div>
        <div class="form-group">
<span class="glyphicon glyphicon-credit-card"></span>
          <input type="text" class="form-control" id="inputSuccess4" placeholder="Card Number">
        </div>
        <div class="form-group">
          <span class="glyphicon glyphicon-calendar"></span>
           <input type="text" class="form-control" id="inputSuccess4" placeholder="MM / YY">
        </div>
        <div class="form-group">
<span class="glyphicon glyphicon-lock"></span>

           <input type="text" class="form-control" id="inputSuccess4" placeholder="CVC">
        </div>
      </form>
    </div>
    <div class=modal-footer>


      <button type="button" class="btn btn-primary btn-lg " data-toggle="modal" data-target="#confirmation" data-dismiss="modal">Pay $34.92</button>
      <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button> -->
    </div>

    </div>
  </div>
</div>

<!-- Modal for "confirmation"-->
<div class="modal fade" id="confirmation" tabindex="-1" role="dialog" aria-labelledby="confirmationLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title" id="confirmationLabel">Spartan Race: Sacramento Super</h3>
<!--         <h5>October 25, 2014</h5>
        <h5>Sacramento</h5> -->
      </div>
      <div class="modal-body">
        <h2>Transaction Complete</h2>
      </div>

      <div class=modal-footer>


        <a href="/profile"><button type="button" class="btn btn-primary btn-lg">Great!</button></a>
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button> -->
      </div>

    </div>
  </div>
</div>