                <!-- Second Blog Post -->
                <h2>
                    <a href="#">Chicago Marathon</a>
                </h2>

                <p></span> October 12, 2014 at 8:00 AM</p>
                <hr>
                <img class="img-responsive events" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/06/20070909_Chicago_Half_Marathon.JPG/2560px-20070909_Chicago_Half_Marathon.JPG" alt="" >
                <hr>
                <p>The Bank of America Chicago Marathon is the pinnacle of achievement for elite athletes and everyday runners alike. On Sunday, October 12, 2014, runners from all 50 states and more than 100 countries will set out to accomplish a personal dream by reaching the finish line in Grant Park.  </p>


                <button class="btn btn-primary" data-toggle="modal" data-target="#buy"> Buy</button>

<!-- Modal for "buy"-->
<div class="modal fade" id="buy" tabindex="-1" role="dialog" aria-labelledby="buyLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title" id="buyLabel">Chicago Marathon</h3>
        <h5>October 12, 2014</h5>
        <h5>Chicago</h5>
      </div>
      <div id="TicketReg" class="panel_body">
        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="ticket_table" id="ticket_table">
            <tbody>
                <tr class="ticket_table_head">
                    <td width="40%" nowrap="nowrap">Ticket Type</td>
                    <td>Sales End</td>
                    <td>Price</td>
                    <td>Fee</td>
                    <td>Purchase</td>
                </tr>
                <tr class="ticket_row">
                    <td class="ticket_type_name">Adult Ticket</td>
                    <td nowrap="nowrap">Aug 16, 2014</td>
                    <td nowrap="nowrap" class="price_td">$150.00</td>
                    <td nowrap="nowrap" class="fee_td">$18.74</td>
                    <td><button type="button" class="btn btn-primary buy" data-toggle="modal" data-target="#payment1">Buy</button></td>
                </tr>
                <tr class="ticket_row">
                    <td class="ticket_type_name">Youth Ticket</td>
                    <td nowrap="nowrap">Aug 16, 2014</td>
                    <td nowrap="nowrap" class="price_td">$30.00</td>
                    <td nowrap="nowrap" class="fee_td">$4.92</td>
                    <td><button type="button" class="btn btn-primary buy" data-toggle="modal" data-target="#payment2">Buy</button></td>
                </tr>
            </tbody>
        </table>
    </div>

    </div>
  </div>
</div>



                <a class="btn btn-success" data-toggle="modal" data-target="#sell"> Sell</a>


<!-- Modal for "sell"-->
<div class="modal fade" id="sell" tabindex="-1" role="dialog" aria-labelledby="sellLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title" id="sellLabel">Chicago Marathon</h3>
        <h5>October 12, 2014</h5>
        <h5>Chicago</h5>
      </div>
      <div id="TicketReg" class="panel_body">
        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="ticket_table" id="ticket_table">
            <tbody>
                <tr class="ticket_table_head">
                    <td width="40%" nowrap="nowrap">Ticket Type</td>
                    <td>Sales End</td>
                    <td>Price</td>
                    <td>Fee</td>
                    <td>Sell</td>
                </tr>
                <tr class="ticket_row">
                    <td class="ticket_type_name">Adult Ticket</td>
                    <td nowrap="nowrap">October 12, 2014
          </td>
                    <td nowrap="nowrap" class="price_td">$150.00</td>
                    <td nowrap="nowrap" class="fee_td">$25.28</td>
                    <td><button type="button" class="btn btn-success sell" data-toggle="modal" data-target="#validate1">Sell</button></td>
                </tr>
                <tr class="ticket_row">
                    <td class="ticket_type_name">Youth Ticket</td>
                    <td nowrap="nowrap">October 12, 2014
          </td>
                    <td nowrap="nowrap" class="price_td">$30.00</td>
                    <td nowrap="nowrap" class="fee_td">$5.17</td>
                    <td><button type="button" class="btn btn-success sell" data-toggle="modal" data-target="#validate2">Sell</button></td>
                </tr>
            </tbody>
        </table>
    </div>

    </div>
  </div>
</div>

<!-- Modal for "validate1"-->
<div class="modal fade" id="validate1" tabindex="-1" role="dialog" aria-labelledby="paymentLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title" id="paymentLabel">Chicago Marathon</h3>
        <h5>October 12, 2014</h5>
        <h5>Chicago</h5>
      </div>
      <div id="sell_confirm1" class="panel_body">
        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="ticket_table" id="ticket_table">
            <tbody>
                <tr class="ticket_table_head">
                    <td width="40%" nowrap="nowrap">Ticket Type</td>
                    <td>Price</td>
                    <td>Fee</td>
                    <td>Your Payment</td>
                </tr>
                <tr class="ticket_row">
                    <td class="ticket_type_name">Adult Ticket</td>
                    <td nowrap="nowrap" class="price_td">$150.00</td>
                    <td nowrap="nowrap" class="fee_td">$18.74</td>
                    <td nowrap="nowrap" class="fee_td">$131.26</td>
                </tr>
                <hr>
                <tr class="bottomRow" >
                    <td></td>
                    <td></td>
                    <td nowrap="nowrap" class="fee_td"><em>Total Payment</em></td>
                    <td><em>$131.26</em></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="bib_auth">
      <form class="form-inline" role="form">
        <div class="form-group">
          <label for="inputSuccess4">Bib Number:</label>
          <input type="text" class="form-control" id="inputSuccess4">
        </div>
        <div class="form-group">
          <label for="inputSuccess4">Confirmation Number:</label>
          <input type="text" class="form-control" id="inputSuccess4">
        </div>
      </form>
    </div>
    <div class=modal-footer>
      <a href="/sold"><button type="button" class="btn btn-primary btn-lg">Sell for $131.26</button></a>
      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    </div>

    </div>
  </div>
</div>

<!-- Modal for "validate2"-->
<div class="modal fade" id="validate2" tabindex="-1" role="dialog" aria-labelledby="paymentLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title" id="paymentLabel">Chicago Marathon</h3>
        <h5>October 12, 2014</h5>
        <h5>Chicago</h5>
      </div>
      <div id="sell_confirm1" class="panel_body">
        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="ticket_table" id="ticket_table">
            <tbody>
                <tr class="ticket_table_head">
                    <td width="40%" nowrap="nowrap">Ticket Type</td>
                    <td>Price</td>
                    <td>Fee</td>
                    <td>Your Payment</td>
                </tr>
                <tr class="ticket_row">
                    <td class="ticket_type_name">Youth Ticket</td>
                    <td nowrap="nowrap" class="price_td">$30.00</td>
                    <td nowrap="nowrap" class="fee_td">$4.92</td>
                    <td nowrap="nowrap" class="fee_td">$25.08</td>
                </tr>
                <hr>
                <tr class="bottomRow" >
                    <td></td>
                    <td></td>
                    <td nowrap="nowrap" class="fee_td"><em>Total Payment</em></td>
                    <td><em>$25.08</em></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="bib_auth">
      <form class="form-inline" role="form">
        <div class="form-group">
          <label for="inputSuccess4">Bib Number:</label>
          <input type="text" class="form-control" id="inputSuccess4">
        </div>
        <div class="form-group">
          <label for="inputSuccess4">Confirmation Number:</label>
          <input type="text" class="form-control" id="inputSuccess4">
        </div>
      </form>
    </div>
    <div class=modal-footer>
      <a href="/sold"><button type="button" class="btn btn-primary btn-lg">Sell for $25.08</button></a>
      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    </div>

    </div>
  </div>
</div>

<!-- Modal for "payment1"-->
<div class="modal fade" id="payment1" tabindex="-1" role="dialog" aria-labelledby="paymentLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title" id="paymentLabel">Chicago Marathon</h3>
        <h5>October 12, 2014</h5>
        <h5>Chicago</h5>
      </div>
      <div id="payment_confirm1" class="panel_body">
        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="ticket_table" id="ticket_table">
            <tbody>
                <tr class="ticket_table_head">
                    <td width="40%" nowrap="nowrap">Ticket Type</td>
                    <td>Price</td>
                    <td>Fee</td>
                    <td>Subtotal</td>
                </tr>
                <tr class="ticket_row">
                    <td class="ticket_type_name">Adult Ticket</td>
                    <td nowrap="nowrap" class="price_td">$150.00</td>
                    <td nowrap="nowrap" class="fee_td">$25.28</td>
                    <td nowrap="nowrap" class="fee_td">$175.28</td>
                </tr>
                <hr>
                <tr class="bottomRow" >
                    <td></td>
                    <td></td>
                    <td nowrap="nowrap" class="fee_td"><em>Order total</em></td>
                    <td><em>$175.28</em></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="cc">
      <form class="form-inline" role="form">
        <div class="form-group">
<span class="glyphicon glyphicon-credit-card"></span>
          <input type="text" class="form-control" id="inputSuccess4" placeholder="Card Name">
        </div>
        <div class="form-group">
<span class="glyphicon glyphicon-credit-card"></span>
          <input type="text" class="form-control" id="inputSuccess4" placeholder="Card Number">
        </div>
        <div class="form-group">
          <span class="glyphicon glyphicon-calendar"></span>
           <input type="text" class="form-control" id="inputSuccess4" placeholder="MM / YY">
        </div>
        <div class="form-group">
<span class="glyphicon glyphicon-lock"></span>

           <input type="text" class="form-control" id="inputSuccess4" placeholder="CVC">
        </div>
      </form>
    </div>
    <div class=modal-footer>
      <a href="/confirmation"><button type="button" class="btn btn-primary btn-lg">Pay $175.28</button></a>
      <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button> -->
    </div>

    </div>
  </div>
</div>

<!-- Modal for "payment2"-->
<div class="modal fade" id="payment2" tabindex="-1" role="dialog" aria-labelledby="paymentLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title" id="paymentLabel">Chicago Marathon</h3>
        <h5>October 12, 2014</h5>
        <h5>Chicago</h5>
      </div>
      <div id="payment_confirm1" class="panel_body">
        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="ticket_table" id="ticket_table">
            <tbody>
                <tr class="ticket_table_head">
                    <td width="40%" nowrap="nowrap">Ticket Type</td>
                    <td>Price</td>
                    <td>Fee</td>
                    <td>Subtotal</td>
                </tr>
                <tr class="ticket_row">
                    <td class="ticket_type_name">Youth Ticket</td>
                    <td nowrap="nowrap" class="price_td">$30.00</td>
                    <td nowrap="nowrap" class="fee_td">$4.92</td>
                    <td nowrap="nowrap" class="fee_td">$34.92</td>
                </tr>
                <hr>
                <tr class="bottomRow" >
                    <td></td>
                    <td></td>
                    <td nowrap="nowrap" class="fee_td"><em>Order total</em></td>
                    <td><em>$34.92</em></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="cc">
      <form class="form-inline" role="form">
        <div class="form-group">
<span class="glyphicon glyphicon-credit-card"></span>
          <input type="text" class="form-control" id="inputSuccess4" placeholder="Card Name">
        </div>
        <div class="form-group">
<span class="glyphicon glyphicon-credit-card"></span>
          <input type="text" class="form-control" id="inputSuccess4" placeholder="Card Number">
        </div>
        <div class="form-group">
          <span class="glyphicon glyphicon-calendar"></span>
           <input type="text" class="form-control" id="inputSuccess4" placeholder="MM / YY">
        </div>
        <div class="form-group">
<span class="glyphicon glyphicon-lock"></span>

           <input type="text" class="form-control" id="inputSuccess4" placeholder="CVC">
        </div>
      </form>
    </div>
    <div class=modal-footer>
      <a href="/confirmation"><button type="button" class="btn btn-primary btn-lg">Pay $34.92</button></a>
      <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button> -->
    </div>

    </div>
  </div>
</div>
